.App {
  text-align: center;
  width: 880px;
}

.btn {
  border: 0;
}
.btn:hover {
  cursor: pointer;
}

.shopping-cart {
  width: 100%;
  border: 1px solid lightgray;
}

img {
  margin-right: 20px;
}

.red-line {
  border: 1px solid red;
}

.black-line {
  border: 1px solid black;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  align-content: center;
  padding-left: 100px;
}
